<div class="container-fluid">
  <div class="row">
<header>
 
  <ul class="nav">
  <li><a href="\home"><mat-icon  >home</mat-icon></a></li>
  <li><a href="\home">Contact Admin</a></li>

  <li><a routerLink="/upcoming">Upcoming Release</a></li>
  <li><a routerLink="/search"> <mat-icon>search</mat-icon></a></li>
</ul>

<div class="profile">
  <img class="profile-picture" src="./assets/profile-picture.png" [alt]="" />
  <div class="profile-detail">
    <span class="profile-text">Profile</span>
    <i class=""></i>
  </div>
</div>
</header>
</div>
<div class="row">
  <div class="banner" *ngFor="let game of games; let i=index"[ngClass]="{'active': i==activeBackground}" [style.background]="'url('+ games[activeBackground].background+ ') no-repeat center/cover'">
  <div class="content active"*ngFor="let title of games; let i=index" [ngClass]="{'active': i==activeTitle}">
    <img [src]="title.title"  class="title-image" />
  <h4>
    <span>{{games[activeBackground].year}}</span>
    <span><i>{{games[activeBackground].pg}}+</i></span>
    <span>{{games[activeBackground].genre}}</span>
  </h4>
  <div class="rating" >
    <i>{{games[activeBackground].rating}}/10<mat-icon>star</mat-icon></i>
  </div>
  <p>{{games[activeBackground].description}}</p>
  <div class="d-none d-md-block">
  <div class="button">
   <a href="#"> <i><mat-icon>play_arrow</mat-icon>View</i></a>
   <a href="#"> <i><mat-icon>add</mat-icon>My List</i></a>
  </div>
  </div>
  </div>
<div class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item" *ngFor="let poster of games; let i=index"  [ngClass]="{'active': i==activeIndex}">
      <img [src]="poster.poster" class="d-block w-100">

    </div>
    <a class="carousel-control-prev"  role="button" (click)="onPrevClick()"  data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next"  role="button" (click)="onNextClick()" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>

    
</div>
</div>
  <a href="#" class="play"><i><mat-icon>play_circle_outline</mat-icon>View Trailer</i></a>
  <ul class="sci">
    
    <li><a href="#"><mat-icon>facebook</mat-icon></a></li>
    
  </ul>
  <div class="trailer">
   <video src="https://www.youtube.com/watch?v=q4GdJVvdxss" controls="true" autoplay="true"></video>
  </div>
  </div>